CREATE DATABASE [dataQLCTy]
GO
USE [dataQLCTy]
GO
/****** Object:  UserDefinedFunction [dbo].[BT1_FUNC]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[BT1_FUNC](@MADD INT)
RETURNS INT
AS
	BEGIN
		DECLARE @TONG INT
		SET @TONG  = (SELECT COUNT(MADA) FROM DUAN WHERE MADD = @MADD)
		RETURN @TONG
	END

GO
/****** Object:  UserDefinedFunction [dbo].[BT3_FUNCTION]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[BT3_FUNCTION] (@TENDD NVARCHAR(100))
RETURNS @BANGTK2 TABLE
						(
							MADD INT NOT NULL PRIMARY KEY,
							TENDD NVARCHAR(100),
							TONG INT
						)
AS
	BEGIN
		INSERT @BANGTK2
		SELECT DA.MADD, TENDD, COUNT(MADA) FROM DUAN DA, DIADIEM DD
		WHERE DA.MADD = DD.MADD
		AND DD.TENDD = @TENDD
		GROUP BY  DA.MADD, TENDD
		
		RETURN
	END

GO
/****** Object:  UserDefinedFunction [dbo].[VIDU1_FUNC]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[VIDU1_FUNC](@MADD INT)
RETURNS INT
AS
	BEGIN
		DECLARE @DEM INT
		SET @DEM = 
		(SELECT COUNT( DA.MADA) 
		FROM DUAN DA
		WHERE DA.MADD = @MADD
		GROUP BY DA.MADD)

		RETURN  @DEM
	END

GO
/****** Object:  UserDefinedFunction [dbo].[VIDU3_FUNC_DANG3]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[VIDU3_FUNC_DANG3](@NAM INT)
RETURNS @BANGTK TABLE (
					MAPB INT NOT NULL PRIMARY KEY,
					TENPB NVARCHAR(100),
					TONGDA INT
				)
AS
	BEGIN
		INSERT @BANGTK
		SELECT PB.MAPHG, PB.TENPHG, COUNT( DA.MADA)
		FROM PHONGBAN PB, DUAN DA
		WHERE PB.MAPHG = DA.MAPHG
		AND YEAR( PB.NGAYBD) = @NAM
		GROUP BY PB.MAPHG, PB.TENPHG
		RETURN 
	END

GO
/****** Object:  Table [dbo].[DIADIEM]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIADIEM](
	[MADD] [int] NOT NULL,
	[TENDD] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DUAN]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUAN](
	[MADA] [int] NOT NULL,
	[TENDA] [nvarchar](100) NULL,
	[MADD] [int] NULL,
	[MAPHG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIPHUTHUOC]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIPHUTHUOC](
	[TENNPT] [nvarchar](100) NOT NULL,
	[MANV] [decimal](18, 0) NOT NULL,
	[GIOITINH] [char](5) NULL,
	[NGAYSINH] [date] NULL,
	[TENMQH] [nvarchar](100) NULL,
 CONSTRAINT [PK_TENNPT_MANV] PRIMARY KEY CLUSTERED 
(
	[TENNPT] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [decimal](18, 0) NOT NULL,
	[TENNV] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[LUONG] [money] NULL,
	[GIOITINH] [char](5) NULL,
	[NGAYSINH] [date] NULL,
	[MAPHG] [int] NULL,
	[MANGS] [decimal](18, 0) NULL,
	[NGAYNC] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MANV] [decimal](18, 0) NOT NULL,
	[MADA] [int] NOT NULL,
	[SOGIO] [int] NULL,
 CONSTRAINT [PK_MANV_MADA] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANCONGDD]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONGDD](
	[MAPHG] [int] NOT NULL,
	[MADD] [int] NOT NULL,
 CONSTRAINT [PK_MAPHG_MADD] PRIMARY KEY CLUSTERED 
(
	[MAPHG] ASC,
	[MADD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPHG] [int] NOT NULL,
	[TENPHG] [nvarchar](100) NULL,
	[MATRUONGPHG] [decimal](18, 0) NULL,
	[NGAYBD] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[BT2_FUNC]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[BT2_FUNC](@THANG INT, @NAM INT)
RETURNS TABLE
AS
	RETURN 
	(SELECT * 
	FROM NHANVIEN NV 
	WHERE MONTH(NV.NGAYSINH) = @THANG AND YEAR(NV.NGAYSINH)=@NAM)

GO
/****** Object:  UserDefinedFunction [dbo].[VIDU1_FUNC_D2]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[VIDU1_FUNC_D2](@MANV DECIMAL)
RETURNS TABLE
AS
	
		RETURN (SELECT * FROM NHANVIEN WHERE MANV = @MANV)
	

GO
/****** Object:  UserDefinedFunction [dbo].[VIDU2_FUNC_DANG2]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[VIDU2_FUNC_DANG2](@MANV DECIMAL)
RETURNS TABLE
AS
	
		RETURN (SELECT * FROM NHANVIEN WHERE MANV = @MANV)
	

GO
INSERT [dbo].[DIADIEM] ([MADD], [TENDD]) VALUES (1, N'TP Hà Nội')
INSERT [dbo].[DIADIEM] ([MADD], [TENDD]) VALUES (2, N'TP Hải Phòng')
INSERT [dbo].[DIADIEM] ([MADD], [TENDD]) VALUES (3, N'TP Đà Nẵng')
INSERT [dbo].[DUAN] ([MADA], [TENDA], [MADD], [MAPHG]) VALUES (1, N'ProjectA', 1, 3)
INSERT [dbo].[DUAN] ([MADA], [TENDA], [MADD], [MAPHG]) VALUES (2, N'ProjectB', 1, 2)
INSERT [dbo].[DUAN] ([MADA], [TENDA], [MADD], [MAPHG]) VALUES (3, N'ProjectC', 3, 2)
INSERT [dbo].[NGUOIPHUTHUOC] ([TENNPT], [MANV], [GIOITINH], [NGAYSINH], [TENMQH]) VALUES (N'Bùi Phương Ngọc', CAST(30121050180 AS Decimal(18, 0)), N'M    ', CAST(N'1967-03-30' AS Date), N'Chồng')
INSERT [dbo].[NGUOIPHUTHUOC] ([TENNPT], [MANV], [GIOITINH], [NGAYSINH], [TENMQH]) VALUES (N'Đoàn Minh Đạo', CAST(30121050038 AS Decimal(18, 0)), N'M    ', CAST(N'1962-10-04' AS Date), N'Chồng')
INSERT [dbo].[NGUOIPHUTHUOC] ([TENNPT], [MANV], [GIOITINH], [NGAYSINH], [TENMQH]) VALUES (N'Hà Mỹ Duyên', CAST(30121050037 AS Decimal(18, 0)), N'F    ', CAST(N'1980-06-15' AS Date), N'Vợ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [LUONG], [GIOITINH], [NGAYSINH], [MAPHG], [MANGS], [NGAYNC]) VALUES (CAST(1111 AS Decimal(18, 0)), N'TEST', NULL, NULL, NULL, CAST(N'1988-01-01' AS Date), NULL, NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [LUONG], [GIOITINH], [NGAYSINH], [MAPHG], [MANGS], [NGAYNC]) VALUES (CAST(11111 AS Decimal(18, 0)), N'TEST', NULL, NULL, NULL, CAST(N'1988-01-01' AS Date), NULL, NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [LUONG], [GIOITINH], [NGAYSINH], [MAPHG], [MANGS], [NGAYNC]) VALUES (CAST(30121050004 AS Decimal(18, 0)), N'Mai Duy An', N'Long An', 30000.0000, N'F    ', CAST(N'1968-02-17' AS Date), 1, CAST(30121050037 AS Decimal(18, 0)), CAST(N'2000-01-01' AS Date))
INSERT [dbo].[PHANCONG] ([MANV], [MADA], [SOGIO]) VALUES (CAST(30121050027 AS Decimal(18, 0)), 1, 7)
INSERT [dbo].[PHANCONG] ([MANV], [MADA], [SOGIO]) VALUES (CAST(30121050027 AS Decimal(18, 0)), 2, 5)
INSERT [dbo].[PHANCONG] ([MANV], [MADA], [SOGIO]) VALUES (CAST(30121050027 AS Decimal(18, 0)), 4, 18)
INSERT [dbo].[PHANCONGDD] ([MAPHG], [MADD]) VALUES (1, 1)
INSERT [dbo].[PHANCONGDD] ([MAPHG], [MADD]) VALUES (1, 2)
INSERT [dbo].[PHANCONGDD] ([MAPHG], [MADD]) VALUES (1, 3)
INSERT [dbo].[PHONGBAN] ([MAPHG], [TENPHG], [MATRUONGPHG], [NGAYBD]) VALUES (1, N'Phòng Phần mềm trong nước', CAST(30121050037 AS Decimal(18, 0)), CAST(N'2003-01-10' AS Date))
INSERT [dbo].[PHONGBAN] ([MAPHG], [TENPHG], [MATRUONGPHG], [NGAYBD]) VALUES (2, N'Phòng Phần mềm nước ngoài', CAST(30121050142 AS Decimal(18, 0)), CAST(N'2005-01-06' AS Date))
INSERT [dbo].[PHONGBAN] ([MAPHG], [TENPHG], [MATRUONGPHG], [NGAYBD]) VALUES (3, N'Phòng Giải pháp mạng truyền thông', CAST(30121050254 AS Decimal(18, 0)), CAST(N'2000-01-01' AS Date))
ALTER TABLE [dbo].[DUAN]  WITH CHECK ADD  CONSTRAINT [PRK_MADD] FOREIGN KEY([MADD])
REFERENCES [dbo].[DIADIEM] ([MADD])
GO
ALTER TABLE [dbo].[DUAN] CHECK CONSTRAINT [PRK_MADD]
GO
ALTER TABLE [dbo].[DUAN]  WITH CHECK ADD  CONSTRAINT [PRK_MAPHG] FOREIGN KEY([MAPHG])
REFERENCES [dbo].[PHONGBAN] ([MAPHG])
GO
ALTER TABLE [dbo].[DUAN] CHECK CONSTRAINT [PRK_MAPHG]
GO
ALTER TABLE [dbo].[NGUOIPHUTHUOC]  WITH CHECK ADD  CONSTRAINT [PRK_MANV2] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NGUOIPHUTHUOC] CHECK CONSTRAINT [PRK_MANV2]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [NGS] FOREIGN KEY([MANGS])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [NGS]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [PRK_MADA] FOREIGN KEY([MADA])
REFERENCES [dbo].[DUAN] ([MADA])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [PRK_MADA]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [PRK_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [PRK_MANV]
GO
ALTER TABLE [dbo].[PHANCONGDD]  WITH CHECK ADD  CONSTRAINT [PRK_MADD3] FOREIGN KEY([MADD])
REFERENCES [dbo].[DIADIEM] ([MADD])
GO
ALTER TABLE [dbo].[PHANCONGDD] CHECK CONSTRAINT [PRK_MADD3]
GO
ALTER TABLE [dbo].[PHANCONGDD]  WITH CHECK ADD  CONSTRAINT [PRK_MAPHG3] FOREIGN KEY([MAPHG])
REFERENCES [dbo].[PHONGBAN] ([MAPHG])
GO
ALTER TABLE [dbo].[PHANCONGDD] CHECK CONSTRAINT [PRK_MAPHG3]
GO
ALTER TABLE [dbo].[PHONGBAN]  WITH CHECK ADD  CONSTRAINT [MATR_PHG] FOREIGN KEY([MATRUONGPHG])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHONGBAN] CHECK CONSTRAINT [MATR_PHG]
GO
/****** Object:  StoredProcedure [dbo].[CAU1_PRC]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CAU1_PRC](@MATP DECIMAL)
AS
	BEGIN
		SELECT *
		FROM PHONGBAN
		WHERE MATRUONGPHG = @MATP
	END

GO
/****** Object:  StoredProcedure [dbo].[CAU2_PRC]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAU2_PRC](@MaNQL DECIMAL, @TenNQL NVARCHAR(100))
AS
	BEGIN
		SELECT NV.*
		FROM NHANVIEN NV, NHANVIEN QL
		WHERE NV.MANGS = QL.MANV
		AND NV.MANGS = @MaNQL
		AND QL.TENNV = @TenNQL
	END

GO
/****** Object:  StoredProcedure [dbo].[CAU3_PROC]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAU3_PROC](@TENDD NVARCHAR(100), @TONGDA INT OUTPUT)
AS
	BEGIN
	SET @TONGDA = (
					SELECT COUNT( DA.MADA)
					FROM DUAN DA, DIADIEM DD
					WHERE DA.MADD = DD.MADD
					AND DD.TENDD = @TENDD
					GROUP BY DA.MADD)

	END

GO
/****** Object:  StoredProcedure [dbo].[CAU4_PROC]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAU4_PROC](@MANQL DECIMAL,@TONGNV INT OUTPUT)
AS
	BEGIN
	SET @TONGNV = 
		(SELECT COUNT (NV.MANV)
		FROM NHANVIEN NV, NHANVIEN QL
		WHERE NV.MANGS = QL.MANV
		AND NV.MANGS = @MANQL)
		
	END

GO
/****** Object:  StoredProcedure [dbo].[CAU5_PROC]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAU5_PROC](@TENPB NVARCHAR(100))
AS
	BEGIN
		--kiểm tra tên phòng ban đó có tồn tại hay không, 
		IF EXISTS (SELECT TENPHG FROM PHONGBAN PB WHERE PB.TENPHG =@TENPB )
			BEGIN
				DECLARE @DEM INT
				SET @DEM = 
							(SELECT COUNT( DA.MADA)
							FROM PHONGBAN PB, DUAN DA
							WHERE PB.MAPHG = DA.MAPHG
							AND PB.TENPHG = @TENPB)
				RETURN @DEM
			END
		ELSE
			BEGIN
				PRINT N'TÊN PHÒNG BAN KHÔNG TỒN TẠI!'
			END
	END

GO
/****** Object:  StoredProcedure [dbo].[PR_DANG3]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_DANG3] (@MAPB INT)
AS
	BEGIN
		DECLARE @TONG INT
		SET @TONG  = (
		SELECT COUNT( PC.MADD)
						FROM PHONGBAN PB, PHANCONGDD PC
						WHERE PB.MAPHG = PC.MAPHG
						AND PB.MAPHG = @MAPB
						GROUP BY PC.MAPHG
						)
			RETURN @TONG
	END


GO
/****** Object:  StoredProcedure [dbo].[PR_VIDU1]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_VIDU1] (@MANV DECIMAL)
AS
	BEGIN
		SELECT *
		FROM NHANVIEN 
		WHERE MANV = @MANV 
	END

GO
/****** Object:  StoredProcedure [dbo].[PR_VIDU2]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PR_VIDU2](@MANV DECIMAL, @SL INT OUTPUT)
AS
	BEGIN
		SET @SL = (
		SELECT COUNT( PC.MADA)
		FROM PHANCONG PC
		WHERE PC.MANV = @MANV
		GROUP BY PC.MANV)

	END

GO
/****** Object:  StoredProcedure [dbo].[PR_VIDU3]    Script Date: 10/9/2023 3:35:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PR_VIDU3](@TENPB NVARCHAR(100), @DEMDD INT OUTPUT)
AS
	BEGIN
		SET @DEMDD = (
						SELECT COUNT( PC.MADD)
						FROM PHONGBAN PB, PHANCONGDD PC
						WHERE PB.MAPHG = PC.MAPHG
						AND PB.TENPHG = @TENPB
						GROUP BY PC.MAPHG)
	END

GO
